header
  & > nav
    & > ul
      background-color: #c0dfd9
      padding 0
      & > li
        display: inline-block
        width: 33.3%
        height: 48px
        list-style-type: none
        text-align: center
        & .navLink
          text-decoration: none
          color: white
          font-size: 28px
          line-height: 48px
          font-family: "Comic Sans MS", cursive, sans-serif